{
	"env": {
		// Проект для браузера
		"browser": true
	},
	// Наборы правил
	"extends": [
		// Базовый набор правил eslint
		"eslint:recommended",
		//"@vue/typescript",

		// Базовый набор правил vue eslint
		//"plugin:vue/recommended",

		// Отключаем правила из базового набора, потому что они не работают с TypeScript и вместо нормальной работы будут сыпать кучу ошибок
		"plugin:@typescript-eslint/eslint-recommended",

		// Базовые правила для TypeScript
		"plugin:@typescript-eslint/recommended",

		// Правила TS, требующие инфо о типах
		"plugin:@typescript-eslint/recommended-requiring-type-checking"
	],
	// Движок парсинга
	//"parser": "vue-eslint-parser",
	"parserOptions": {
		// Движку нужен проект TS для правил с типами
		"parser": "@typescript-eslint/parser",
		"project": "tsconfig.json",
		"tsconfigRootDir": ".",
		"extraFileExtensions": [],
		//"vue"
		"ecmaVersion": 2017,
		"sourceType": "module"
	},
	// Плагин с наборами правил для TypeScript
	"plugins": [ "prettier", "@typescript-eslint", "@typescript-eslint/eslint-plugin" ],
	"rules": {
		// allow async-await
		"generator-star-spacing": "off"
		// allow debugger during development
	}
}